///////////////////////////////////
// Mixins
///////////////////////////////////

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin transition($args) {
  transition: $args;
}

@mixin transform($args) {
  transform:$args;
  -ms-transform:$args; /* IE 9 */
  -moz-transform:$args; /* Firefox lt16 */
  -webkit-transform:$args; /* Safari, Chrome, Opera */
  -o-transform:$args; /* Opera lt12.1 */
}
