/* Main */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  height: 100%;
	margin-top: 3.5em;
}

.wrapper {
	position: relative;
  width: 100%;
  height: 100%;
}

#header, #map, #footer {
	position: absolute;
}

#header {
	height: 3.5em;
	width: 100%;
}

#map {
	top: 3.5em;
	bottom: 0px;
  width: 100%;
}
