/* Nav */

	#nav {
		@include vendor('transform', 'translateX(20em)');
		@include vendor('transition', ('transform #{_duration(nav)} ease', 'box-shadow #{_duration(nav)} ease', 'visibility #{_duration(nav)}'));
		-webkit-overflow-scrolling: touch;
		background: darken(_palette(accent2, bg), 12);
		box-shadow: none;
		color: _palette(accent2, fg-bold);
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: _misc(z-index-base) + 2;

		> ul {
			margin: 0 0 (_size(element-margin) * 0.5) 0;

			&.links {
				list-style: none;
				padding: 0;

				> li {
					padding: 0;

					> a:not(.button) {
						border: 0;
						border-top: solid 1px _palette(accent2, border);
						color: inherit;
						display: block;
						letter-spacing: _size(letter-spacing-alt);
						line-height: 3.5em;
						text-decoration: none;
					}

					> .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					&:first-child {
						> a:not(.button) {
							border-top: 0 !important;
						}
					}
				}
			}
		}

		.close {
			@include icon('\f00d');
			@include vendor('transition', 'color #{_duration(transition)} ease-in-out');
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			border: 0;
			color: _palette(accent2, fg-light);
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;

			&:before {
				font-size: 1.25em;
			}

			&:hover {
				color: _palette(accent2, fg-bold);
			}

			@include breakpoint(small) {
				height: 4em;
				line-height: 4em;
			}
		}

		&.visible {
			@include vendor('transform', 'translateX(0)');
			box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.2);
			visibility: visible;
		}

		@include breakpoint(small) {
			padding: 2.5em 1.75em;
		}
	}
