body {
  font-family: sans-serif; }

h1 {
  margin: 5px 0 65px 0; }

ol {
  margin: 0 -5px;
  padding: 0; }

li {
  border: solid 1px #aaa;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #eee;
  font-family: sans-serif;
  text-decoration: none;
  color: #444;
  background-repeat: no-repeat;
  background-size: 80px 60px;
  background-position: -15px -10px;
  padding-left: 50px;
  margin: 5px 2px;
  height: 50px;
  image-rendering: pixelated;
  list-style: none;
  cursor: pointer;
  overflow: scroll; }
  li > div {
    margin: 15px 2px;
    float: left; }

.origin {
  position: relative;
  top: 20px;
  padding-bottom: 10px; }

#nav {
  position: absolute;
  top: 55px;
  left: 10px; }
  #nav button {
    float: left;
    padding: .7em 1em;
    border: solid 1px #ddd;
    background: white;
    font-size: 17px;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    width: 140px; }
  #nav > div {
    display: inline-block;
    float: left;
    text-align: middle; }
  #nav label {
    display: block;
    cursor: pointer;
    padding: 2px 0; }
    #nav label input {
      margin-top: 1px;
      margin-left: 10px; }

#msg {
  color: #ddd;
  font-size: 70%; }

.name {
  font-weight: bold; }

.remain {
  color: #999; }
