table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
    padding: 3px 7px;
}

th {
    background: #F3F3F3;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}