///////////////////////////////////
// Colors
///////////////////////////////////

$grey-1: #f5f5f5;
$grey-2: #ececec;
$grey-3: #dadada;
$grey-4: #cccccc;
$grey-5: #999999;
$grey-6: #666666;
$grey-7: #333333;
