{
  "alarms": [
    {
      "active": "False",
      "type": "pushbullet",
      "api_key": ""
    },
    {
      "active": "True",
      "type": "slack",
      "api_key": "",
      "channel": "general"
    },
    {
      "active": "False",
      "type": "twilio",
      "account_sid": "",
      "auth_token": "",
      "to_number": "+1123456789",
      "from_number": "+1123456789"
    },
    {
      "active": "False",
      "type": "telegram",
      "api_key": "",
      "chatid": ""
    }
  ],
  "pokemon": {
    "Bulbasaur": "True",
    "Ivysaur": "True",
    "Venusaur": "True",
    "Charmander": "True",
    "Charmeleon": "True",
    "Charizard": "True",
    "Squirtle": "True",
    "Wartortle": "True",
    "Blastoise": "True",
    "Caterpie": "True",
    "Metapod": "True",
    "Butterfree": "True",
    "Weedle": "True",
    "Kakuna": "True",
    "Beedrill": "True",
    "Pidgey": "False",
    "Pidgeotto": "False",
    "Pidgeot": "False",
    "Rattata": "True",
    "Raticate": "True",
    "Spearow": "True",
    "Fearow": "True",
    "Ekans": "True",
    "Arbok": "True",
    "Pikachu": "True",
    "Raichu": "True",
    "Sandshrew": "True",
    "Sandslash": "True",
    "Nidoran♀": "True",
    "Nidorina": "True",
    "Nidoqueen": "True",
    "Nidoran♂": "True",
    "Nidorino": "True",
    "Nidoking": "True",
    "Clefairy": "True",
    "Clefable": "True",
    "Vulpix": "True",
    "Ninetales": "True",
    "Jigglypuff": "True",
    "Wigglytuff": "True",
    "Zubat": "True",
    "Golbat": "True",
    "Oddish": "True",
    "Gloom": "True",
    "Vileplume": "True",
    "Paras": "True",
    "Parasect": "True",
    "Venonat": "True",
    "Venomoth": "True",
    "Diglett": "True",
    "Dugtrio": "True",
    "Meowth": "True",
    "Persian": "True",
    "Psyduck": "True",
    "Golduck": "True",
    "Mankey": "True",
    "Primeape": "True",
    "Growlithe": "True",
    "Arcanine": "True",
    "Poliwag": "True",
    "Poliwhirl": "True",
    "Poliwrath": "True",
    "Abra": "True",
    "Kadabra": "True",
    "Alakazam": "True",
    "Machop": "True",
    "Machoke": "True",
    "Machamp": "True",
    "Bellsprout": "True",
    "Weepinbell": "True",
    "Victreebel": "True",
    "Tentacool": "True",
    "Tentacruel": "True",
    "Geodude": "True",
    "Graveler": "True",
    "Golem": "True",
    "Ponyta": "True",
    "Rapidash": "True",
    "Slowpoke": "True",
    "Slowbro": "True",
    "Magnemite": "True",
    "Magneton": "True",
    "Farfetch'd": "True",
    "Doduo": "True",
    "Dodrio": "True",
    "Seel": "True",
    "Dewgong": "True",
    "Grimer": "True",
    "Muk": "True",
    "Shellder": "True",
    "Cloyster": "True",
    "Gastly": "True",
    "Haunter": "True",
    "Gengar": "True",
    "Onix": "True",
    "Drowzee": "False",
    "Hypno": "True",
    "Krabby": "True",
    "Kingler": "True",
    "Voltorb": "True",
    "Electrode": "True",
    "Exeggcute": "True",
    "Exeggutor": "True",
    "Cubone": "True",
    "Marowak": "True",
    "Hitmonlee": "True",
    "Hitmonchan": "True",
    "Lickitung": "True",
    "Koffing": "True",
    "Weezing": "True",
    "Rhyhorn": "True",
    "Rhydon": "True",
    "Chansey": "True",
    "Tangela": "True",
    "Kangaskhan": "True",
    "Horsea": "True",
    "Seadra": "True",
    "Goldeen": "True",
    "Seaking": "True",
    "Staryu": "True",
    "Starmie": "True",
    "Mr. Mime": "True",
    "Scyther": "True",
    "Jynx": "True",
    "Electabuzz": "True",
    "Magmar": "True",
    "Pinsir": "True",
    "Tauros": "True",
    "Magikarp": "True",
    "Gyarados": "True",
    "Lapras": "True",
    "Ditto": "True",
    "Eevee": "True",
    "Vaporeon": "True",
    "Jolteon": "True",
    "Flareon": "True",
    "Porygon": "True",
    "Omanyte": "True",
    "Omastar": "True",
    "Kabuto": "True",
    "Kabutops": "True",
    "Aerodactyl": "True",
    "Snorlax": "True",
    "Articuno": "True",
    "Zapdos": "True",
    "Moltres": "True",
    "Dratini": "True",
    "Dragonair": "True",
    "Dragonite": "True",
    "Mewtwo": "True",
    "Mew": "True"
  }
}
