: {
    proxy / pokemap:5000 {
        proxy_header Host {host}
        proxy_header X-Real-IP {remote}
        proxy_header X-Forwarded-Proto {scheme}
    }
    tls ${EMAIL} {
        max_certs 5
    }
    errors stderr
}
