# Provide Pokemon Go Credentials here. This section must be filled out!

[Authentication]
# ptc or google
Service: ptc
Username: 
Password: 

[Database]
# Possible values: sqlite, mysql
Type: sqlite
# The following are only required if it's not sqlite
Database_Name: 
Database_User: 
Database_Pass: 
Database_Host: 

[Search_Settings]
Steps: 12
Location: 
# Time delay before beginning new scan
Scan_delay: 1
# Disable Map elements
disable_pokemon: false
disable_pokestops: false
disable_gyms: false

[Misc]
# You need a google maps api key to run this!
# See: https://github.com/AHAAAAAAA/PokemonGo-Map/wiki/Google-Maps-API:-a-brief-guide-to-your-own-key
Google_Maps_API_Key:

# Full path to the SSL key & cert
SSL_Cert:
SSL_Key:

# What ip address and port to bind the server to
Host: 127.0.0.1
Port: 5000
