/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea {
		@include vendor('appearance', 'none');
		background: _palette(border-bg);
		border-radius: _size(border-radius);
		border: none;
		border: solid _size(border-width) _palette(border);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: _palette(accent1, bg);
			box-shadow: 0 0 0 _size(border-width) _palette(accent1, bg);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	::-webkit-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	.option {
		margin: .25em 0;
		padding: .5em;
		padding-left: 0;
		display: block;
		cursor: pointer;
		-webkit-user-select: none;

		&__name {
			position: relative;
			display: inline-block;
			width: 60%;
			vertical-align: middle;

			&:after {
				position: absolute;
				left: 0;
				bottom: 3px;
				width: calc(100% + 15px);
				height: 1px;
				content: '';
				background: darken(_palette(accent2, bg), 12);
				transform: scaleX(0);
				transform-origin: left center;
				transition: transform .2s ease-out;
			}
		}

		&:hover &__name:after {
			transform: scaleX(1);
		}

		&__input {
			display: none;
		}

		&__checkbox {
			position: relative;
			padding: 4px;
			z-index: 1;
			width: 24px;
			height: 24px;
			display: inline-block;
			vertical-align: -6px;
			overflow: hidden;

			background: white;
			border-radius: 50%;
			border: 1px solid darken(_palette(accent2, bg), 12);

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				border-bottom: inherit;
				height: 50%;
				content: '';
				background: #ccc;
				border-radius: 100% 100% 0 0;
			}

			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 8px;
				height: 8px;
				content: '';

				background: white;
				border: 1px solid black;
				border-radius: 50%;
			}
		}

		&__input:checked + &__checkbox {
			&:before {
				background: #FE2224;
			}

			&:after {
				background: black;
				box-shadow: inset 0 0 0 1px white;
			}
		}
	}

.select2-container {
	width: 100% !important;
	float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #4A80F5 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid darken(_palette(accent2, bg), 12);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #FFFFFF !important;
}
