/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea {
		@include vendor('appearance', 'none');
		background: _palette(border-bg);
		border-radius: _size(border-radius);
		border: none;
		border: solid _size(border-width) _palette(border);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: _palette(accent1, bg);
			box-shadow: 0 0 0 _size(border-width) _palette(accent1, bg);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	::-webkit-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

.switch-container {
	float: left;
	width: 100%;
	h3 {
		margin-bottom: 0 !important;
		float: left;
	}
}

.form-control {
	display: block;
	margin-bottom: 15px;
	h3 {
		margin-bottom: 15px;
	}
	input[type="text"] {
		background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
		display: block;
		padding: 0 10px;
		&:focus, &:active {
			color: #3b3b3b;
			border: 1px solid #3b3b3b;
			outline: 0;
			box-shadow: none;
		}
	}
}

.onoffswitch {
  position: relative;
	width: 50px;
	float: right;
  -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
	.onoffswitch-checkbox {
	  display: none;
	}
	.onoffswitch-label {
	  display: block;
		overflow: hidden;
		cursor: pointer;
	  height: 20px;
		padding: 0;
		line-height: 20px;
	  border: 2px solid #CCCCCC;
		border-radius: 20px;
	  background-color: #FFFFFF;
	  transition: background-color 0.3s ease-in;
	}
	.onoffswitch-label:before {
	  content: "";
	  display: block;
		width: 20px;
		margin: 0px;
	  background: #FFFFFF;
	  position: absolute;
		top: 0;
		bottom: 0;
	  right: 30px;
	  border: 2px solid #CCCCCC;
		border-radius: 20px;
	  transition: all 0.3s ease-in 0s;
	}
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #4A80F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #4A80F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option--highlighted {
	background-color: #6b6b6b !important;
	color: #e4e4e4;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid darken(_palette(accent2, bg), 12);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #FFFFFF !important;
}

.select2-search__field {
       width: auto !important;
}
