<!DOCTYPE html>
<html lang=en>
    <head>
        <title>Pokemon List</title>
        <meta content="width=device-width,initial-scale=1,maximum-scale=1" name=viewport>
        <link rel="stylesheet" href="/static/css/mobile.css" type="text/css" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time Remaining</th>
                    <th>Direction</th>
                </tr>
            </thead>
            <tbody>
{% for pokemon in pokemon_list %}
                <tr>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.time_to_disappear}}</td>
                    <td>{{pokemon.distance}}m ({{pokemon.card_dir}})</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </body>
</html>