<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Pokemon GO Map</title>
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" href="">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
            <script>
                var setLabelTime = function(){
                    $('.label-countdown').each(function(e){
                        var time = $(this).data('disappears-at');
                        var timestring = "";
                        var disappearsAt = new Date(parseInt(time)*1000);
                        if(true){ // difference between disappears-at time and now. Negative if passed
                            var now = new Date();
                            var difference = Math.abs(disappearsAt - now);
                            var hours = Math.floor(difference / 36e5);
                            var minutes = Math.floor((difference - (hours * 36e5)) / 6e4);
                            var seconds = Math.floor((difference - (hours * 36e5) - (minutes * 6e4)) / 1e3);
                            if(disappearsAt < now){
                                timestring += "-";
                            }
                            if(hours > 0){
                                timestring += hours + ":";
                            }
                            timestring += ("0" + minutes).slice(-2) + ":";
                            timestring += ("0" + seconds).slice(-2);
                        } else { // set label to disappears-at time
                            var hours = disappearsAt.getHours();
                            var minutes = disappearsAt.getMinutes();
                            if (minutes < 10) {
                                minutes = "0" + minutes;
                            }

                            var seconds = disappearsAt.getSeconds();
                            if (seconds < 10) {
                                seconds = "0" + seconds;
                            }
                            timestring += hours + ":" + minutes + ":" + seconds;
                        }
                        $(this).text(timestring)
                    });
                };

                    setInterval(setLabelTime, 1000);
            </script>
            {{fullmap.js}}
    </head>
    <body>
        <h1>Pokemon GO Map</h1>
        {{ fullmap.html }}

    </body>
</html>

