<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Pokemon GO Map</title>
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" href="">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
            <script src="static/js/script.js"></script>
            {{fullmap.js}}
    </head>
    <body>
        <h1>Pokemon GO Map</h1>
        {{ fullmap.html }}
    </body>
</html>
