<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Full Map Example</title>
    </head>
    <body>
        <h1>Flask Google Maps Full Map Example</h1>
        {{ fullmap.html }}

    </body>
<!-- Webdesign 101: scripts at the end make the page load faster -->
{{fullmap.js}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


  <script type="text/javascript">
    var setLabelTime = function(){
        $('.label-countdown').each(function (index, element) {
            var disappearsAt = new Date(parseInt(element.getAttribute("disappears-at"))*1000);
            var now = new Date();
            
            var difference = Math.abs(disappearsAt - now);
            var hours = Math.floor(difference / 36e5);
            var minutes = Math.floor((difference - (hours * 36e5)) / 6e4);
            var seconds = Math.floor((difference - (hours * 36e5) - (minutes * 6e4)) / 1e3);
            
            if(disappearsAt < now){
                timestring = "expired";
            } 
            else {
                timestring = "";
                if(hours > 0)
                    timestring = hours + "h";
                
                timestring += ("0" + minutes).slice(-2) + "m";
                timestring += ("0" + seconds).slice(-2) + "s";
                timestring = "disappears in " + timestring;
            }

            $(element).text(timestring)
        });
    };

    window.setInterval(setLabelTime, 1000);

  
  </script>
  {% if auto_refresh %}
    <script type="text/javascript">
        var baseURL = location.protocol + "//" + location.hostname + (location.port ? ":"+location.port: "");
        var options = {};
        
        $.get(baseURL + "/config", function(response){
                        var json_obj = $.parseJSON(response);//parse JSON
                        options["lat"] = json_obj["lat"];
                        options["lng"] = json_obj["lng"];
                        options["zoom"] = json_obj["zoom"];
                        options["identifier"] = json_obj["identifier"];
                    });

        window.setInterval(function(){
            // A new map is created because the original one isn't saved
            map = new google.maps.Map(
                document.getElementById(options["identifier"]), {
                    center: new google.maps.LatLng(options["lat"], options["lng"]),
                    zoom: options["zoom"],
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    rotateControl: true,
                    fullscreenControl: true
            });

            // Requests the data and populates the map
            $.get(baseURL + "/data", function(response){
                var json_obj = $.parseJSON(response);

                for (var index in json_obj) {
                    var item = json_obj[index];
                    if (item["infobox"] ) {
                        new google.maps.Marker({
                            position: new google.maps.LatLng(item["lat"], item["lng"]),
                            map: map,
                            icon: item["icon"],
                            infobox: item["infobox"]
                        })
                    } else {
                        new google.maps.Marker({
                            position: new google.maps.LatLng(item["lat"], item["lng"]),
                            map: map,
                            icon: item["icon"]
                        })
                    }
                }
            })
        }, {{ auto_refresh }});
    </script>
  {% endif %}
</html>
