<!DOCTYPE HTML>
<html>
	<head>
		<title>Boilerplate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/style8.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<script src="/static/js/vendor/modernizr.custom.js"></script>

    <style>
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }
        
        #map {
        	height: 100vh;
        	width: 100vw;
        }
    </style>
	</head>
	<body id="top">

		<!-- Header -->
		<header id="header">
			<a href="#nav">Menu</a>
			<h1><a href="#">GoMap</a></h1>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="#top">Top</a></li>
				<li><a href="#content">Content</a></li>
				<li><a href="#elements">Elements</a></li>
				<li><a href="#grid">Grid System</a></li>
			</ul>
		</nav>

    <div id="main">
      <div id="map"></div>
    </div>

  </body>

  <!-- Scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/vendor/classie.js"></script>
  <script src="/static/js/vendor/demo7.js"></script>

  <script type="text/javascript">
      var center_lat = {{lat}};
      var center_lng = {{lng}};
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap"></script>
  <script type="text/javascript" src="/static/map.js"></script>
</html>
