<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8">
        <title>Pokémon Go Map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="PokeMap">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#3b3b3b">

        <!-- Fav- & Apple-Touch-Icons -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="static/appicons/favicon.ico" type="image/x-icon">
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/114x114.png" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/144x144.png" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/152x152.png" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/114x114.png" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/120x120.png" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/144x144.png" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/152x152.png" sizes="152x152">
        <!-- retina iPhone 6 iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/180x180.png" sizes="180x180">

        <link rel="stylesheet" href="static/dist/css/app.min.css">
        <script src="static/js/vendor/modernizr.custom.js"></script>
    </head>
    <body id="top">
        {% include 'layout/header.html' %}

        <div class="wrapper">
            {% block main_content %}
                This will be never appear, if content is given
            {% endblock %}
        </div>

        <footer>
            {% include 'layout/footer.html' %}
        </footer>

        {% block main_scripts %}
            <!-- Scripts -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

            <script src="static/dist/js/app.min.js"></script>
            <script src="static/js/vendor/classie.js"></script>
        {% endblock %}
    </body>
</html>
